body {
  padding: 1em;
  max-width: 75ch;
  margin: 0 auto;
  background-color: #2f0234;
  color: #F8FFE3;
  display: grid;
  grid-template: 
  "title title logo"
  "services services services"
}

h1 {
  grid-area: title;
}

img {
  grid-area: logo;
  max-width: 10em;
  
}

main {
  grid-area: services;
}


.flex {
  display: flex;
}