@font-face {
  font-family: "spaceGrotesk";
  src: 
    url("../fonts/spaceGrotesk/SpaceGrotesk-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/spaceGrotesk/SpaceGrotesk-VariableFont_wght.woff") format("woff"),
    url("../fonts/spaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'spaceGrotesk', sans-serif;
  margin: 0 auto;
  background-color: #2f0234;
  color: #fafcff;
  display: grid;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-family: 'spaceGrotesk', sans-serif;
  font-size:2.3rem;
  padding-top: 1em;
}

h2 {
  font-weight: 600;
}
p {
  font-weight: 300;
}

#mission-statement {
  font-weight: 500;
  color: #fff;
  padding: 2em;
}

.section-title {
  font-size:3rem;
  padding-top: 2em;
}

section {
  padding: 6rem;
}

#logo-lg {
  max-width: 50vw;
  padding-top: 1em;
}

ul {
  text-align: left;
}


nav > ul {
  position: fixed;
  top: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2f0234;
  padding: 1em;
}

nav > ul > li {
  display: block;
  margin-bottom: 1em;
}

nav > ul > li a {
  color: #fff;
  text-decoration: none;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

#services {
  position: relative;
  color: #020617;
  background-color: #c471ed;
}

#services::after {
  content: '';
  background-image:
  linear-gradient(
    45deg,
    #12c2e9,
    #c471ed,
    #f64f59
  );
  position: absolute;
  z-index: -1;
  transform: skewY(-5deg);
}


.boardmember-title {
  font-style: italic;
  font-weight: 300;
  margin-top: -1em;
}

.boardmember-name {
  font-weight: 600;
}
.boardmember-job {
  font-weight: 300;

}



.nav-bar {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .1em 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  display: flex;
}

.nav-bar button {
  border: none;
  margin-top: .5em;
  background: rgba(80 0 100 / 0.7);
  border-radius: 50%;
  padding: .5em;
  color: #fff;
  outline-offset: -3px;
  cursor: pointer;
}

.nav-container {
  z-index: 11;
  background: #f1f5f9;
  position: fixed;
  top: 65px;
  right: -15em;
  padding: 15px;
  border-radius: 1em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: all 0.2s linear;
}


.nav-container a {
  color: #020617;
  text-decoration: none;
  display: block;
  background: #e2e8f0;
  margin: 15px 0;
  padding: 1em;
  border-radius: 5px;
}

.appear {
  right: 15px !important;
}

